body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #e3e3e3;

  text-decoration: none;
}

 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #ff0b0f;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

header h2.logo {
  margin: 0;
  font-size: 2.0em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h2.logo:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
table {
            font-size:15px;
            color:#333333;
            width:auto;
            border-width: 2px;
            border-color: #729ea5;
            border-collapse: collapse;
            -moz-box-shadow: 0 0 40px 1px #000000;
            -webkit-box-shadow: 0 0 40px 1px #000000;
            box-shadow: 0 0 40px 1px #000000;}
        table th {
            font-family: serif;
            font-size:15px;
            background-color:#acc8cc;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;
            text-align:left;
        }
        table tr {background-color:#d4e3e5;}
        table td {
            font-family:monospace;
            font-size:13px;
            border-width: 1px;
            font-weight: bold;
            color: #555; 
            padding: 8px;
            border-style: solid;
            border-color: #729ea5;}
        table tr:hover {background-color: #D8B9E0;}
