<html>
<frameset cols="50%, 50%">
  <frame src=http://manap.se/pisi-upload/{{ kuyruk.repository  }}/{{ kuyruk.branch }}/{{ kuyruk.commit_id }}-{{ paket }}.err>
  <frame src=http://manap.se/pisi-upload/{{ kuyruk.repository  }}/{{ kuyruk.branch }}/{{ kuyruk.commit_id }}-{{ paket }}.log>
</frameset>
</html>
