{% extends "layout.html" %}

{% block content %}
  <h2>Kuyruk</h2>
  <p>Derlenmeyi bekleyen paketler</p>
<table border=1>
<tr>
   <th>Tarih</th>
   <th>Repo</th>
   <th>Branch</th>
   <th>Paket</th>
   <th>Commit</th>
   <th>Durum</th>
</tr>
  {% for p   in packages %}
<tr>
  <td>{{ p.tarih       }}</td>
  <td>{{ p.repository  }}</td>
  <td>{{ p.branch      }}</td>
  <td>{{ p.paket.adi   }}</td>
  <td><a href = {{ p.commit_url }}>{{ p.commit_id   }}</a></td>
  <td>

    {% if p.durum  == 0 %}
   Bekliyor.
    {% endif %}
    {% if p.durum  == 1 %}
   Bir kismi bitti, bekliyor.
    {% endif %}
    {% if p.durum  == 100 %}
   Calisiyor
    {% endif %}
    {% if p.durum  == 101 %}
    <a href= /compiledetail/{{ p.id }}> 
   Basarisiz
    </a>
    {% endif %}
    {% if p.durum  == 999 %}
    <a href= /compiledetail/{{ p.id }}> 
   Basarili 
    </a>
    {% endif %}

 </td>
</tr>

  {% endfor %}
</table>
{% endblock %}
